header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ff0000;
  padding: 0px 0.5rem;
}
header section {
  font-size: 1.2rem;
  font-weight: bold;
}
header nav ul {
  display: flex;
  list-style: none;
}
header nav ul li a {
  display: inline-block;
  padding: 0.5rem 0.75rem;
  text-decoration: none;
  color: #0000ff;
}